---
import BaseLayout from "../../layouts/BaseLayout.astro";

const title = "Eartime";
const description = "Latest Podwords.";
const permalink = `${Astro.site.href}eartime`;

let allPosts = await Astro.glob("../../data/eartime-posts/*.md");
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="eartime"
>
  <div class="container">
    <h1>Eartime</h1>
    <p>
      Podcasting is last free space for creative thought. It's extremely mobile,
      on-demand, sharable, and cancel-proof. And I love the challenge of
      crafting stories that tap into the most powerful graphics processor on the
      planet - the human imagination.
    </p>
    {
      allPosts.map((post, index) => {
        const href = `/eartime/${post.file
          .split("/")
          .pop()
          .split(".")
          .shift()}`;
        return (
          <div>
            {index !== 0 && <hr />}
            <div class="post-item">
              <h2>
                <a href={href}>{post.frontmatter.title}</a>
              </h2>
              <p>{post.frontmatter.description}</p>
              <div class="post-item-footer">
                <span class="post-item-date">
                  — {post.frontmatter.publishDate}
                </span>
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</BaseLayout>

<style>
  h2,
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  hr {
    margin: 60px auto;
  }
</style>
